{% extends "base.html" %}
{% load static %}

{% block container %}
<form  method="POST">
    {% csrf_token %}
    <input type="text" class="form-control" name="search" placeholder="Search"><br>
    <button type="submit" class="btn btn-secondary">Search</button>
</form><br><br>

{% if searched %}
    <h5>Searched for: {{searched}}</h5>
    <h5>Results:</h5><br>
    <div class="col-8">
        {% for tweet in tweets %}
        <div class="alert alert-dark" onclick="{% url 'tweet_show' tweet.id %}" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {% if tweet.user.profile.profile_image %}
                            <img src="{{tweet.user.profile.profile_image.url}}" width="50" height="50" class="rounded-circle"  alt="{{my_profile.user.username}}">

                        {% else %}
                            <img src="{% static 'images/user_img.png' %}" width="50" height="50" class="rounded-circle"  alt="{{tweet.user.user.username}}">
                        {% endif %}
                    </div>
                    
                    <div class="col-11"  >
                        {{tweet.body}} <br>

                        <small>
                            ({{tweet.created_at}}) By <a href="{% url 'profile' tweet.user.id %}"> @{{tweet.user.username}} </a> - {{tweet.number_of_likes}} likes 
                            {% if user in tweet.likes.all %}
                                <a href="{% url 'tweet_likes' tweet.id%}">
                                    <i class="fa-solid fa-heart"></i></a>
                            {% else %}
                                <a href="{% url 'tweet_likes' tweet.id%}">
                                    <i class="fa fa-heart-o"></i></a>
                                    {% comment %} {% post_to_whatsapp object_or_url "<p style='color: green;'>Whatsapp</p>" %}
                                    {% post_to_facebook object_or_url "<p style='color: blue;'>facebook</p>" %} {% endcomment %}
                            {% endif %}
                            &nbsp;&nbsp;
                                <a href="{% url 'tweet_show' tweet.id %}">
                                    <i class="fa fa-share"></i></a>
                        </small>
                    </div><br><br>
                </div>
            </div> <br />
        </div>
        {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
    </div>
{% endif %}
{% endblock container %}